/* .sider {
  background-color: #f6f1f1;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sider .line {
  border-bottom: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
  padding-top: 90px;
}
.sider .title {
  padding: 10px 0 20px;
  font-size: 20px;
  font-weight: 700;
}
.sider .menu-sider .box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgb(35, 35, 228);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.sider .menu-sider .box .icon {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 5px;
}
.menu-sider .box.unactive {
  background: #999797;
  color: black;
}

.menu-sider .icon.unactive {
  color: black;
}

@media (max-width: 992px) {
  .sider .menu-sider .box {
    font-size: 14px;
    padding: 5px 10px;
    .icon {
      padding: 3px 5px;
      font-size: 17px;
    }
  }
}
@media (max-width: 768px) {
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
    .box-title {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
    .box-title {
      display: none;
    }
  }
}

@media (max-width: 440px) {
  .sider .title {
    font-size: 15px;
  }
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
    .box-title {
      display: none;
    }
  }
} */

.sider {
  background-color: #f6f1f1;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sider .line {
  border-bottom: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
  padding-top: 90px;
}
.sider .title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.sider .menu-sider .box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgb(35, 35, 228);
  padding: 10px 20px;

  margin: 10px 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.sider .menu-sider .box .icon {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 5px;
}
.menu-sider .box.unactive {
  background: #999797;
  color: black;
}

.menu-sider .icon.unactive {
  color: black;
}

@media (max-width: 992px) {
  .sider .menu-sider .box {
    font-size: 14px;
    padding: 5px 10px;
    .icon {
      padding: 3px 5px;
      font-size: 17px;
    }
  }
}
@media (max-width: 768px) {
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
    .box-title {
      display: none;
    }
  }
  .sider .menu-sider .box .box-title {
    display: none;
  }
}
@media (max-width: 600px) {
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
  }
  .sider .menu-sider .box .box-title {
    display: none;
  }
}

@media (max-width: 440px) {
  .sider .title {
    font-size: 15px;
  }
  .sider .menu-sider .box {
    padding: 2px 4px;
    display: flex;
  }
  .sider .menu-sider .box .box-title {
    display: none;
  }
}
